.main-area {
  overflow: hidden;
}
.pickle {
  height: 10rem;
  pointer-events: none; 
}

@keyframes animate {
  0% {
    opacity: 1;
    transform: translateY(-100vw) rotate(720deg);
  }

  100% {
    opacity: 0;
    transform: translateY(0vw) rotate(0deg);
  }
}

.circles div {
  position: absolute;
  display: block;
  list-style: none;
  left: 15%;
  bottom: 10px;
  animation: animate 6s linear infinite;
}

.circles div:nth-child(1) {
  left: 25%;
  scale: 0.8;
  bottom: 100px;
  animation: animate 8s linear infinite;
}

.circles div:nth-child(2) {
  left: 35%;
  scale: 1.2;
  bottom: 100px;
  animation: animate 12s linear infinite;
}

.circles div:nth-child(3) {
  left: 55%;
  scale: 0.5;
  bottom: 100px;
  animation: animate 8s linear infinite;
}

.circles div:nth-child(4) {
  left: 70%;
  scale: 1.2;
  bottom: 100px;
  animation: animate 20s linear infinite;
}

.circles div:nth-child(5) {
  left: 80%;
  scale: 0.6;
  bottom: 100px;
  animation: animate 14s linear infinite;
}
